<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>

          <analyzer>
            <param>
              <map>

                <!-- Add danish analyzer for 'da' culture -->
                <mapEntry patch:before="*[1]" type="Sitecore.ContentSearch.LuceneProvider.Analyzers.PerExecutionContextAnalyzerMapEntry, Sitecore.ContentSearch.LuceneProvider">
                  <param hint="executionContext" type="Sitecore.ContentSearch.CultureExecutionContext, Sitecore.ContentSearch">
                    <param hint="cultureInfo" type="System.Globalization.CultureInfo, mscorlib">
                      <param hint="name">da</param>
                    </param>
                  </param>
                  <param hint="analyzer" type="Sitecore.ContentSearch.LuceneProvider.Analyzers.DefaultPerFieldAnalyzer, Sitecore.ContentSearch.LuceneProvider">
                    <param hint="defaultAnalyzer" type="Additio.Lucene.Analyzers.DanishAnalyzer, Additio.Lucene.Analyzers">
                      <param hint="version">Lucene_30</param>
                    </param>
                  </param>
                </mapEntry>

              </map>
            </param>
          </analyzer>

        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>